<link rel="stylesheet" href="/assets/css/dashboard.css" />

<div class="container"> {{!--this will be to hold the entire page --}}
    {{!-- card showing profile pic, mood, link to profile --}}

    <div class="left-container">
        <div class="profile-preview">
            <a href="./profile">
                <figure class="">
                    <img class="profile-pic" src="/assets/images/{{user.profile_image}}" alt="profile pic"
                        class="profile-pic">
                    {{!-- <img src="{{profile_pic}}" alt="profile pic" class="profile-pic"> add once its able to pull
                    the image top one is a place holder--}}
                </figure>
                <div class="profile-name">
                    {{!-- <h2>{{first_name}}</br>{{last_name}}</h2> add back in once its able to pull the name and
                    remove the bottom line--}}
                    <h2>{{user.first_name}}<br>{{user.last_name}}</h2>
                </div>
            </a>
        </div>


        {{!-- field to create workout goal --}}
        <form class="box">
            <div class="field">
                <div class="new-goal-header">
                    <h3>New Goal</h3>
                </div>
                <label class="label">Exercise</label>
                <div class="select is-normal">
                    <select name="workouts" id="workout-btn">
                        {{#each workouts as |workout|}}
                        <option value="{{id}}">{{workout_name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <label class="label" for="workout-goals">Duration</label>
            <div class="select is-normal">
                <select name="workout-goals" id="goals-btn">
                    <option value="10">10 min</option>
                    <option value="20">20 min</option>
                    <option value="30">30 min</option>
                    <option value="40">40 min</option>
                    <option value="50">50 min</option>
                    <option value="60">60 min</option>
                    <option value="90">90 min</option>
                    <option value="120">120 min</option>
                    <option value="150">150 min</option>
                    <option value="180">180 min</option>
                    <option value="210">210 min</option>
                    <option value="240">240 min</option>
                </select>

            </div>

            <button class="button is-link is-normal" type="button" id="newGoalBtn">Create</button>
        </form>


        {{!-- field for user to make posts --}}
        <form class="box">
            <div class="field">
                <div class="new-post-header">
                    <h3>New Post</h3>
                </div>
                <label class="label">Exercise</label>
                <div class="select is-normal">
                    <select name="workouts" id="post-workout-btn">
                        {{#each workouts as |workout|}}
                        <option value="{{id}}">{{workout_name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <label class="label" for="workout-goals">Goals</label>
            <div class="select is-normal">
                <select name="workout-goals" id="post-goals-btn">
                    <option value=""></option>
                    {{#each goals as |goal|}}
                    <option value="{{id}}">{{workout.workout_name}}: {{duration}} mins</option>
                    {{/each}}
                </select>
            </div>
            <label class="label feeling">How do you feel?</label>
            <div id="emoji-container drawer">
                <button class="emoji newpost-emoji button is-normal " data-mood="Very Happy">😀</button>
                <button class="emoji newpost-emoji button is-normal" data-mood="Happy">🙂</button>
                <button class="emoji newpost-emoji button is-normal" data-mood="Neutral">😐</button>
                <button class="emoji newpost-emoji button is-normal" data-mood="Not Happy">🙁</button>
                <button class="emoji newpost-emoji button is-normal" data-mood="Exhausted">😤</button>
            </div>

            <label class="label" for="workout-posts">Duration</label>
            <div class="select is-normal">
                <select name="workout-posts" id="posts-duration-btn">
                    <option value="10">10 min</option>
                    <option value="20">20 min</option>
                    <option value="30">30 min</option>
                    <option value="40">40 min</option>
                    <option value="50">50 min</option>
                    <option value="60">60 min</option>
                    <option value="90">90 min</option>
                    <option value="120">120 min</option>
                    <option value="150">150 min</option>
                    <option value="180">180 min</option>
                    <option value="210">210 min</option>
                    <option value="240">240 min</option>
                </select>
            </div>

            <label class="checkbox " style="padding:0.75em;"><Strong>Achieved</Strong> <input id="achieved" type="checkbox">
            </label>

            {{!-- <input class="input is-hovered" class="post" type="text" id="post-input"
                placeholder="How'd you get fit today?">
            </input>--}}
            <button class="button is-link is-normal" type="submit" id="postBtn">Post</button>
        </form>
    </div>


    {{!-- section to display workout goals --}}
    <div class="right-container">
        <div class="message-header goals-header">
            <h3>Current Goals</h3>
        </div>

        {{!--
        {{#each goals as |goal|}}
        <div class="goals card">

            <header class="card-header">
                <button id="delete-goal" data-id="{{id}}" class="delete"></button>
                <p class="card-header-title">
                    Duration: {{duration}}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    Workout Preformed</br>
                    {{workout.workout_name}}
                </div>
            </div>

        </div>
        {{/each}}--}}


        {{#each goals as |goal|}}
        <div class="notification">
            <button id="delete-goal" data-id="{{id}}" class="delete delete-goal"></button>
            <strong>Workout:</strong> {{workout.workout_name}}<br>
            <strong> Duration:</strong> {{duration}} mins
        </div>
        {{/each}}
        {{!-- section to display posts --}}
        <div class="message-header posts-header">
            <h3>Recent Posts</h3>
        </div>
        {{#each posts as |post|}}
        <article class="posts media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="/assets/images/{{../user.profile_image}}">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Workout Completed</strong> <small></small> <small></small>
                        <br>
                        {{workout.workout_name}}<br>
                        {{duration}} mins {{getMoodEmoji mood_after}}
                        <br>Goal Achieved <input onclick="return false;" type="checkbox" {{#if achieved }} checked
                            {{/if}} />
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item">
                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                        </a>
                        <a class="level-item">
                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                        </a>
                        <a class="level-item">
                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="media-right">
                <button id="delete-post" data-id="{{id}}" class="delete delete-post"></button>
            </div>
        </article>
        {{/each}}
    </div>

</div>
</div>

<script src="/js/dashboard.js"></script>