
<div class="card">
 {{!-- card showing profile pic, mood, link to profile --}}
    <div class="profile-preview">
        <a href="./profile.handlebars">
            <img src="{{profile_pic}}" alt="profile pic" class="profile-pic">
            {{first_name}} + {{last_name}}
        </a> 
    </div>
 {{!-- field to create workout goal --}}
    <form class="card" id="post-form">
        <h3>New Workout Goal:</h3>
        <label for="workouts">Exercise:</label>
        <select name="workouts" id="workout-btn">
            {{#each workouts as |workout|}}
                 <option>{{workout_name}}</option>
            {{/each}}
        </select>
        <label for="duration">Duration:</label>
        <select name="workout-goals" id="goals-btn">
            <option>10 min</option>
            <option>20 min</option>
            <option>30 min</option>
            <option>40 min</option>
            <option>50 min</option>
            <option>60 min</option>
            <option>90 min</option>
            <option>120 min</option>
            <option>150 min</option>
            <option>180 min</option>
            <option>210 min</option>
            <option>240 min</option>
        </select>
        <br>
        <button type="submit" id="newGoalBtn">New Goal</button>
    </form>
 {{!-- field for user to make posts  --}}
    <form class="card">
        <h3>New Post:</h3>
        <label for="workouts">Exercise:</label>
        <select name="workouts" id="workout-btn">
            {{#each workouts as |workout|}}
                 <option>{{workout_name}}</option>
            {{/each}}
        </select>
        <label for="workout-goals">Goals:</label>
        <select name ="workout-goals" id="goals-btn">
            {{#each goals as |goal|}}
                <option>{{workout.workout_name}}-{{duration}} mins</option>
            {{/each}}
        </select>
        <br/>
        <input class="post" type="text" id="post-input" placeholder="How'd you get fit today?">
        <button type="submit" id="postBtn">Post</button>
    </form>
 {{!-- section to display workout goals --}}
    <div class="card" id="goals-section">
        <h3>Current Active Goals:</h3>
        <ul id="goals-list">
            {{#each goals as |goal|}}
                <li>{{workout.workout_name}}  {{duration}}</li>
            {{/each}}
        </ul>
    </div>
 {{!-- section to display posts  --}}
    <div class="card" id="posts-section">
        <h3>Recent Posts:</h3>
        <ul id="posts-list">
            {{#each posts as |post|}}
                <li>{{data}} {{workout.workout_name}} {{duration}} {{mood_before}} {{mood_after}} {{achieved}}</li>
            {{/each}}
        </ul>
    </div>

</div>

<script src="/js/dashboard.js"></script>