<link rel="stylesheet" href="/assets/css/history.css" />




<div class="right-container">
    <div class="message-header goals-header">
        <h3>Current Goals</h3>
    </div>

    {{!--
    {{#each goals as |goal|}}
    <div class="goals card">

        <header class="card-header">
            <button id="delete-post" class="delete"></button>
            <p class="card-header-title">
                Duration: {{duration}}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                Workout Preformed</br>
                {{workout.workout_name}}
            </div>
        </div>

    </div>
    {{/each}}--}}


    {{#each goals as |goal|}}
    <div class="notification">
        <button class="delete"></button>
        <strong>Workout:</strong> {{workout.workout_name}}<br>
        <strong> Duration:</strong> {{duration}} mins
    </div>
    {{/each}}
    {{!-- section to display posts --}}
    <div class="message-header posts-header">
        <h3>Recent Posts</h3>
    </div>
    {{#each posts as |post|}}
    <article class="posts media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="/assets/images/{{user.profile_image}}">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>Workout Completed</strong> <small></small> <small></small>
                    <br>
                    {{workout.workout_name}}<br>
                    {{duration}} mins<br>
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="media-right">
            <button id="delete-post" class="delete"></button>
        </div>
    </article>
    {{/each}}
</div>

</div>